{% load static %}

<!doctype html>
<html>

<head>
    <title>Nuevo mensaje</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'mensajes/estilos.css' %}">
</head>

<body>
    <h1>NUEVO MENSAJE</h1>
    <form action="" method="post">
        {% csrf_token %}
        <ul>
            <li>
                <label for="usuario">Nombre:</label>
                <input type="usuario" id="usuario" name="usuario" value={{request.user.username}} disabled>
            </li>
            <li>
                <label for="titulo">Titulo(opcional):</label>
                {{form.titulo}}
            </li>
            <li>
                <label for="contenido">Mensaje:</label>
                {{form.contenido}}
            </li>
        </ul>
        <input type="submit" value="ENVIAR MENSAJE">
    </form>


</body>


</html>