{% extends 'messages_app/base.html' %}
{% load i18n %}
{% block title%} Crear cuenta {% endblock%}
{% block content%}
<div class="container py-3 px-3">
    <div class="row">
        <h1 class="text-primary text-center">{% trans 'create account'|upper %}</h1>
    </div>
    <div class="row">
        <form class="text-center py-6" method="post" action=".">
            {% csrf_token %}
            <ul class="list-group ">
                <li class="list-group-item border-0">
                    <label>{% translate 'username'|capfirst%}:</label>
                {{form.username}}
                </li>
                <li class="list-group-item border-0">
                    <label >{% translate 'password'|capfirst %}:
                    </label>
                    {{form.password1}}
                </li>
                <li class="list-group-item border-0">
                    <label >{% translate 'repeat password'|capfirst %}:
                    </label>
                    {{form.password2}}
                </li>
            </ul>
            {% if form.errors or form.non_field_errors %}
            <div class="mb-3">
                {% for field in form %}
                {{field.errors}}
                {% endfor %}
            </div>
            {% endif %}
            <button class="btn btn-primary py-3 px-5 my-3">{% translate 'enter'|upper%}</button>
        </form>
    </div> 
    <div class="row text-center py-3"><p>{% translate 'already have an account?'|capfirst%} <a href="{% url 'messages_app:login'%}">{% translate 'login'|capfirst %}</a></p> </div>
</div>


   


{% endblock%}